<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>书斋网  让阅读成为习惯</title>
    <link th:href="@{/css/info.css}" type="text/css" rel="stylesheet">
    <!-- 使用百度的cdn -->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/info.js}"></script>
</head>
<body>
    <div class="info_head">

    </div>
    <div class="info_center">
        <div class="center_cate">
            <div class="face_img">
                <a href="../img/face.jpg" target="_parent">
                    <img id="show_face_img" src="">
                </a>
            </div>
            <div>
                <span><strong>账号管理</strong></storng></span>
            </div>
            <div>
                安全设置
            </div>
            <div>
                个人信息
            </div>
            <div>
                收货地址
            </div>
        </div>
        <div class="center_show">

        </div>
    </div>
    <div class="info_foot">

    </div>
</body>
</html>